html, body {
	height: 100%;
}

body {
	display: flex;
}
/*
form {
	width: 100%;
	max-width: 330px;
	padding: 0 15px;
}*/
input {
	max-width: 330px;
}

.block-input {
	width: 100%;
}


label {
	display: inline;
}

main {
	margin: auto;
}